:root,
*,
*::before,
*::after {
  margin: 0;
  line-height: 1.5;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-family: sans-serif;
  color: white;
}

body {
  display: flex;
  height: 100vh;
  background-color: black;
  justify-items: center;
  justify-content: center;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  overflow-wrap: break-word;
}

h1 {
  color: crimson;
  font-size: 4rem;
}

h3 {
  margin-bottom: 1rem;
}

button {
  color: white;
  background-color: crimson;
  border: none;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

#root,
#__next {
  isolation: isolate;
}

#create-account {
  height: 35%;
  padding: 1rem 2rem;
  background-color: white
}

#create-account h3 {
  color: black;
}

.background {
  /* width: 30vw; */
  height: 100vh;
  background-size: 50%;
  background-repeat: repeat;
  background-image: url(images/akatsuki-black-bg.webp);
  /* display: none; */
}

.logo {
  width: 30rem;
  display: flex;
  margin-top: 20vh;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.container {
  /* width: 70vw; */
}

.question {
  height: 40%;
  margin-right: 10%;
  padding: 5rem 2rem;
}

.account-information {
  gap: 1rem;
  display: flex;
  flex-wrap: wrap;
  margin-right: 40%;
  justify-content: space-between;
}


.account-information div {
  display: flex;
  flex-direction: column;
}

.account-information label {
  color: black;
  font-weight: bold;
  font-size: .7rem;
}

.submit-or-log-in {
  height: 25%;
  padding: 2rem 2rem;
}