:root,
*,
*::before,
*::after {
  margin: 0;
  line-height: 1.5;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-family: sans-serif;
  color: white;
}

body {
  display: flex;
  height: 100vh;
  background-color: black;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  overflow-wrap: break-word;
}

h1 {
  color: red;
  font-size: 4rem;
}

button {
  color: white;
  background-color: black;
  border: none;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
}

#root,
#__next {
  isolation: isolate;
}

#create-account {
  padding: 4rem 2rem;
}

.background {
  width: auto;
  height: auto;
  background-size: 25%;
  background-repeat: repeat;
  background-image: url(images/akatsuki-black-bg.webp);
  display: none;
}

.logo {
  width: 30rem;
  display: flex;
  margin-top: 20vh;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.container {
  width: 70rem;
}

.question {
  background-color: crimson;
  padding: 4rem 2rem;
}

.submit-or-log-in {
  padding: 4rem 2rem;
  background-color: crimson;
}