:root, *, *::before, *::after {
  margin: 0;
  line-height: 1.5;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

.background {
  background-image: url(images/akatsuki-black-bg.webp);
}